# https://editorconfig.org/

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true

[{Library/Homebrew/**.rb,.simplecov}]
trim_trailing_whitespace = true

[Library/Taps/homebrew/**.rb]
# trailing whitespace is crucial for patches
trim_trailing_whitespace = false

[**.md]
trim_trailing_whitespace = true
x-soft-wrap-text = true
