# First, ignore everything.
/*

# Explicitly ignore OS X Finder thumbnail files.
.DS_Store

# Unignore the contents of `Library` as that's where our code lives.
!/Library/

# Ignore files within `Library` (again).
/Library/Homebrew/.npmignore
/Library/Homebrew/bin
/Library/Homebrew/doc
/Library/Homebrew/test/.gem
/Library/Homebrew/test/.subversion
/Library/Homebrew/test/coverage
/Library/Homebrew/test/fs_leak_log
/Library/Homebrew/vendor/portable-ruby
/Library/Taps

# Ignore Bundler files
**/.bundle/bin
**/.bundle/cache
**/vendor/bundle
**/vendor/ruby
**/vendor/bundle-standalone/ruby/*/bin
**/vendor/bundle-standalone/ruby/*/cache
**/vendor/bundle-standalone/ruby/*/extensions
**/vendor/bundle-standalone/ruby/*/gems/*/*
**/vendor/bundle-standalone/ruby/*/specifications

# Unignore vendored gems
!**/vendor/bundle-standalone/ruby/*/gems/*/lib

# Ignore partially included gems where we don't need all files
**/vendor/bundle-standalone/ruby/2.3.0/gems/activesupport-*/lib/active_support.rb
**/vendor/bundle-standalone/ruby/2.3.0/gems/activesupport-*/lib/active_support/all.rb
**/vendor/bundle-standalone/ruby/2.3.0/gems/activesupport-*/lib/active_support/cache.rb
**/vendor/bundle-standalone/ruby/2.3.0/gems/activesupport-*/lib/active_support/cache/
**/vendor/bundle-standalone/ruby/2.3.0/gems/activesupport-*/lib/active_support/concurrency/
**/vendor/bundle-standalone/ruby/2.3.0/gems/activesupport-*/lib/active_support/dependencies.rb
**/vendor/bundle-standalone/ruby/2.3.0/gems/activesupport-*/lib/active_support/dependencies/
**/vendor/bundle-standalone/ruby/2.3.0/gems/activesupport-*/lib/active_support/duration/
**/vendor/bundle-standalone/ruby/2.3.0/gems/activesupport-*/lib/active_support/json.rb
**/vendor/bundle-standalone/ruby/2.3.0/gems/activesupport-*/lib/active_support/json/
**/vendor/bundle-standalone/ruby/2.3.0/gems/activesupport-*/lib/active_support/log_subscriber.rb
**/vendor/bundle-standalone/ruby/2.3.0/gems/activesupport-*/lib/active_support/log_subscriber/
**/vendor/bundle-standalone/ruby/2.3.0/gems/activesupport-*/lib/active_support/messages/
**/vendor/bundle-standalone/ruby/2.3.0/gems/activesupport-*/lib/active_support/multibyte/
**/vendor/bundle-standalone/ruby/2.3.0/gems/activesupport-*/lib/active_support/number_helper.rb
**/vendor/bundle-standalone/ruby/2.3.0/gems/activesupport-*/lib/active_support/number_helper/
**/vendor/bundle-standalone/ruby/2.3.0/gems/activesupport-*/lib/active_support/testing/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/latest.rb
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/rails.rb
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/version.rb
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/1.*
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/2.0*
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/2.1*
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/2.2*
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/2.3*
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/2.*.rb
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/force/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/rails/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/random/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/*/array/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/*/comparable/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/*/dir/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/*/enumerable/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/*/false_class/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/*/fixnum/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/*/float/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/*/hash/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/*/integer/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/*/kernel/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/*/module/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/*/nil_class/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/*/regexp/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/*/struct/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/*/struct/
**/vendor/bundle-standalone/ruby/*/gems/backports-*/lib/backports/*/true_class/
**/vendor/bundle-standalone/ruby/*/gems/concurrent-ruby-*/lib/atomic/
**/vendor/bundle-standalone/ruby/*/gems/concurrent-ruby-*/lib/atomic_reference/
**/vendor/bundle-standalone/ruby/*/gems/concurrent-ruby-*/lib/collection/
**/vendor/bundle-standalone/ruby/*/gems/concurrent-ruby-*/lib/concern/
**/vendor/bundle-standalone/ruby/*/gems/concurrent-ruby-*/lib/executor/
**/vendor/bundle-standalone/ruby/*/gems/concurrent-ruby-*/lib/synchronization/
**/vendor/bundle-standalone/ruby/*/gems/concurrent-ruby-*/lib/thread_safe/
**/vendor/bundle-standalone/ruby/*/gems/concurrent-ruby-*/lib/utility/
**/vendor/bundle-standalone/ruby/*/gems/i18n-*/lib/i18n/tests*
**/vendor/bundle-standalone/ruby/*/gems/thread_safe-*/lib/thread_safe/util

# Ignore rubocop's (and other) dependencies we don't wish to vendor
**/vendor/bundle-standalone/ruby/*/gems/ast-*/
**/vendor/bundle-standalone/ruby/*/gems/jaro_winkler-*/
**/vendor/bundle-standalone/ruby/*/gems/minitest-*/lib
**/vendor/bundle-standalone/ruby/*/gems/parallel-*/
**/vendor/bundle-standalone/ruby/*/gems/parser-*/
**/vendor/bundle-standalone/ruby/*/gems/powerpack-*/
**/vendor/bundle-standalone/ruby/*/gems/rainbow-*/
**/vendor/bundle-standalone/ruby/*/gems/rubocop-0*/
**/vendor/bundle-standalone/ruby/*/gems/ruby-progressbar-*/
**/vendor/bundle-standalone/ruby/*/gems/unicode-display_width-*/

# Ignore `bin` contents (again).
/bin

# Unignore our `brew` script.
!/bin/brew

# Unignore our documentation/completions.
!/.github
!/completions
!/docs
!/manpages

# Ignore generated documentation site
/docs/_site
/docs/bin
/docs/.jekyll-metadata

# Unignore our root-level metadata files.
!/.editorconfig
!/.gitignore
!/.yardopts
!/CHANGELOG.md
!/CODE_OF_CONDUCT.md
!/CONTRIBUTING.md
!/Dockerfile
!/Dockerfile.test.yml
!/LICENSE.txt
!/README.md

# Unignore tests' bundle config
!/Library/Homebrew/test/.bundle/config
