language: ruby
rvm: 2.0.0

before_install:
  # Fix error: Incorrect file permissions (664)
  - umask 022
  - if [ -f ".git/shallow" ]; then
      travis_retry git fetch --unshallow;
    fi

install:
  - PATH=$PWD/bin:$PATH
  - export HOMEBREW_DEVELOPER="1"

script:
  - brew test-bot

notifications:
  slack:
    secure: NuueXolTjWJDt2Dikv9ZrUdFwgmI04yPlUlfWCDZ2isg9YSV9zACpTJjG4lOBndFeMI89BRgMUNtd6OtvUJOS4jevwJ0BjUwXqVc1GcIta030Y+175UzbvwKDf04b4Dw4pFYvs6b7i8rZOEbWljWesCzeEG5xSr/AgyVm9wmijfQzhYl3eP9sxNbL3tq1XWmSW6sG+t8fgVfXmwGfaq3Kq63bY3YoF5Oj38DpVIxlHpMXOhvyDGNwrwRR3GLTZUENfzPqQaD0+AW4SB1gH3FtBp1aaqSVQHiDV563gEURxPsI+qA7O2TMipM6SjXasTwaHJio1qWjlHuDcU16bxHodS7le8YLpFTVkMYuIncxmD4evQA9YABSj9GSGouOniS6fXCL1YR9fhPAB9AhgzIHxw/+6UyOGIJzSTW3adm19C2joJQN2mX0xl+TxMhdmV+nWq1xGKSiUlWtdT0wrJiuK4tyORPR7rV1owMhwarjcnTxRuNtZQ+OY5VDdZCacPVYe5EmE7R/562dCmUJSPLcj5vSVbne8kmsfIjcpMJrbw19GfxincgocGKBPlaHH8WgQ5SS7w0qxTWZgTAw9LwqE/xgY9VmwcYMupZfE7lXcrz+RSPYojHRgpXL3z3gN4ZNgQSeLOMcTAnhwIR61MnH7WdjNvXaVrdJ2T/RHRwWXc=
  email:
    on_success: never
    on_failure: always
